<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
    Set OfflineMode to true to enable testing outside of the EVE browser.
    -->
    <add key="OfflineMode" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="FleetLinks" connectionString="server=.;trusted_connection=true;database=Main"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false"/>
    <xhtmlConformance mode="Legacy"/> <!-- Modern HTML freaks the IGB out. -->
    <customErrors mode="On" defaultRedirect="Error.htm"/>
  </system.web>
</configuration>
